<h1 class="ms-2 my-2">Parent</h1>
<div class="container">
  <div class="row" >
    <div class="col border me-2">
     <h2>User</h2>
     <table class="table table-striped">
       <thead>
         <tr>
           <th scope="col" class="text-dark">User-Name</th>
           <th scope="col"class="text-dark">Remove</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td scope="row">john</td>
           <td scope="row">Remove</td>
         </tr>
         <tr>
           <td>Alex</td>
           <td>Remove</td>
         </tr>
       </tbody>
     </table>
    </div>
    <div class="col border ">
     <h2>Admin</h2>
     <table class="table table-striped">
       <thead>
         <tr>
           <th scope="col" class="text-dark">User-Name</th>
           <th scope="col"class="text-dark">Remove</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td scope="row">Salman</td>
           <td scope="row">Remove</td>
         </tr>
         <tr>
           <td>Umer</td>
           <td>Remove</td>
         </tr>
       </tbody>
     </table>
    </div>
   </div>
</div>
  
<h1 class="ms-2 my-2">child</h1>   
<hr>
<div class="container">
  <div class="row">
    <div class="col">
      <app-child [boxColor]=" 'red' " [placeholderText]=" 'userName' "></app-child>
    
    </div>
    <div class="col">
      <app-child [boxColor]=" 'black' " [placeholderText]=" 'AdminName' "></app-child>
    </div>
  </div>
</div>
          
  


