<div class="container">


    <div class="box" [ngClass]="{box2:boxColor==='red' ,  box1:boxColor==='black'}">
      <div class="my-3 mx-3" >
        <input type="text" class="form-control" id="input1" aria-describedby="emailHelp" placeholder={{placeholderText}}>
        <button type="button" class="btn btn-outline-dark my-2">Primary</button>
      </div>
      <div class="total">
        Total user <span class="">2</span>
      </div>
  </div>

  <!-- <div class="col">
    <div class="box">
      <div class="my-3 mx-3">
        <input type="text" class="form-control" id="input1" aria-describedby="emailHelp" placeholder="create user">
        <button type="button" class="btn btn-outline-dark my-2">Primary</button>
      </div>
      <div class="total">
        Total user <span>2</span>
      </div>
  </div>
  </div> -->
</div>
